<table>
  <h2>Task Details</h2>
  <tbody>
    <tr>
      <tr><td><strong><%= @task.taskname %></strong></td></tr>
      <tr><td><%= @task.details %></td></tr>
      <tr><td><%= @task.duedate %></td></tr>
    </tr>
  </tbody>
</table>