<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Note</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @category.number %></td>
        <td><%= @category.note %></td>
        <td><%= @category.description %></td>
      </tr>
  </tbody>
</table>
